/* -------------------------------
		0.1.-VARIABLES
-------------------------------- */

/* ----------- Fonts ------------- */

$primary-font: Proxima-Nova, -apple-system, "sans-serif";

$regular: 400;

$bold: 700;

/* ----------- Main Colors ------------- */

$white: #fff;

$black: #000;

$grey: #ccc;

$primary-color: orange;

$error: #962501;